<div id="headerwrap">
    <div class="container">
        <div class="row"> 
            <div class="col-md-12 himg">
                <img src="{{ "/assets/img/DA2I_logo.png" | prepend: site.baseurl }}" style="PADDING-BOTTOM: 15px; PADDING-TOP: 15px" class="img-responsive" height="250px">     
                <div class="clear"><p style="font-size:40px; color:white">Access to information and the SDGs</p>
                <p style="font-size:20px; color:white">How can meaningful access to information contribute to advancing the UN Sustainable Development Goals? </font>
        </div>

            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
