<div id="headerwrap">
    <div class="container">
        <div class="row"> 
            <div class="col-md-12 himg">
                <img src="{{ "/assets/img/DA2I_logo.png" | prepend: site.baseurl }}" style="PADDING-BOTTOM: 15px; PADDING-TOP: 15px;" class="img-responsive" height="250px" width="250px">
                <p>
                <font color="white">A2I</p>
                <p>Access to information and the SDGs</p>
                <p>How can meaningful access to information contribute to advancing the UN Sustainable Development Goals? </font>
                <p>
                <p>
                <p>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
